#identité
 {
   background-color: #2574a9;
 }
 .Blue
 {
   background-color: #2574a9;
 }
 #adresse
 {
   background-color: #9a12b3;
 }
.Purple
{
  background-color: #9a12b3;
}
#information
{
  background-color: #db0a5b;
}
.Pink
{
  background-color: #db0a5b;
}
#VISA
{
margin-left: 50px
}
#Mastercard
{
margin-left: 50px  
}
